<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1>EVOKE TECHNOLOGIES FORM CLASSIFIER</h1>
    </div>
    <form action="post" class="formbody" enctype="multipart/form-data">
        <label for="photo">Upload Form</label>
        <input type="file" value="">
        <button type="submit">DETECT</button>
        <button type="submit">VIEW AND DOWNLOAD</button>
    </form>
</body>
</html>
